<div class="container-fluid" style="padding:0px";>
  <div class="top-bar">
    <%= image_tag("rails.png") %>
  </div>

  <div class="banner">
    <h1>Save any kind of films</h1>
  </div>

  <div class="bottom-bar">
    <div class="container">
      <div class="search-field">
        <div class="search-bar">
          <%= form_tag results_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-search",
              placeholder: "Find a film"
            %>
        </div>
        <div class="search-btn">
          <%= button_tag :submit, class: "btn-search" do %>
            <i class="fa-solid fa-magnifying-glass"></i>
          <% end %>
          <% end %>
        </div>
        <div class="angles-down">
          <i class="fa-solid fa-angles-down"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="add-list">
    <%= link_to "Create new watch list", new_list_path, class: "btn-add" %>
  </div>
  <div class="cards-grid">
    <% @lists.each do |list| %>
      <%= link_to list do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path list.photo.key, height: 180, crop: :fill %>')">
          <%= list.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container footer">
  <p>Created by <%= link_to "l-p-n", "https://github.com/l-p-n" %></p>
  <a href="https://github.com/l-p-n"><i class="fa-brands fa-github"></i></a>
</div>
