<h1><%= @list.name %></h1>

<br>
<% @list.movies.each do |movie| %>
<% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
<h3><%= movie.title %></h3>
<p><%= movie.overview %></p>
<p>Rating: <%= movie.rating%></p>
<p><%= movie.poster_url%></p>
<p>Comment: <%= bookmark.comment %> </p>
<%# <% @list.bookmarks.each do |bm| %>
<%# <%= bm.comment %>
<%= link_to "Delete bookmark from this list", bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure?" } %><br>
<% end %>


<br>
<%= link_to "Add new bookmark", new_list_bookmark_path(@list) %> <br>

<%= link_to "Back to My Lists", lists_path %>
