<h1><%= @list.name %></h1>


<%# TODO: display movies in this list %>
<% @list.movies.each do |movie| %>
<%= movie.title %> <br>
<%= movie.overview %> <br>
<%= movie.rating%> <br>
<%= movie.poster_url%> <br>
<% end %>

<% @list.bookmarks.each do |bm| %>
<%= bm.comment %> <br>
<% end %>

<%# TODO: correct delete url path! %>
<%= link_to "Delete bookmark from this list", bookmark_path, method: :delete, data: { confirm: "Are you sure?" } %><br>

<br>
<%= link_to "Add new bookmark", new_list_bookmark_path(@list) %> <br>

<%= link_to "Back to My Lists", lists_path %>

<%# shawshank image
https://m.media-amazon.com/images/M/MV5BNTYxOTYyMzE3NV5BMl5BanBnXkFtZTcwOTMxNDY3Mw@@._V1_.jpg %>
