<div class="container">
  <h3>Add a film to your <%= @list.name %> list</h3>
  <%= simple_form_for [ @list, @bookmark ] do |f| %>
    <%= f.input :comment, placeholder: "Enter a comment about the movie" %>
    <%= f.association :movie, collection: Movie.all.order(:title), prompt: "Select a movie" %>
    <%= f.submit "Add film to this list", class: "btn btn-primary" %>
  <% end %>
</div>

<%# input_html: { data: { controller: 'select2' } }  %>
