<div class="top-bar-dark">
  <%= image_tag "rails-red.png", id: "rails-logo" %>
  <%= link_to "https://www.themoviedb.org/" do %>
    <%= image_tag "tmdb-black.png", id: "tmdb-logo" %>
  <% end %>
</div>
<div class="container">
  <% unless @results.count == 0 %>
      <div class="search-results">
        <% @results.each do |result| %>
          <%= link_to image_tag(result.poster_url, alt: "movie poster"), result %>
          <%# <img src="<%= result.poster_url" alt="movie poster"> %>
        <% end %>
      </div>
    <% end %>
</div>
 <div class="bottom-bar-dark">
    <%= link_to "Back to My Watch Lists", lists_path, class: "btn-back" %>
</div>
