<div class="container-fluid" style="padding: 0px;">
  <div class="top-bar-dark">
    <%= image_tag "rails-red.png", id: "rails-logo" %>
    <%= link_to "https://www.themoviedb.org/" do %>
      <%= image_tag "tmdb-black.png", id: "tmdb-logo" %>
    <% end %>
  </div>

  <div class="poster-banner", style="background-image: url('<%= @movie.backdrop_url %>');">
    <div class="film-display-card">
      <img src="<%= @movie.poster_url %>" alt="movie poster">
      <div class="film-display-infos">
        <h3><%= @movie.title %></h3>
        <h5>Overview</h5>
        <p><%= @movie.overview %></p>
        <h5>Rating</h5>
        <div class="score">
          <p><%= @movie.rating %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-bar-dark">
    <%= link_to "Back to My Watch Lists", lists_path, class: "btn-back" %>
  </div>
</div>
